.card-container {
  width: 100px;
  height: 150px;
  padding: 5px;
  perspective: 400px;
}

.card-container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card-pause {
  animation-play-state: paused;
  animation: none;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-color: darkslateblue;
}

.card-back {
  background-color: #efefef;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: large;
}

.card-hand {
  display: flex;
}