* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: ghostwhite;
  font-family: Helvetica, sans-serif;
  color: #888888;
  display: flex;
  justify-content: center;
  align-items: center;
}