* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #252525;
  font-family: Helvetica, sans-serif;
  color: rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}